body{
	margin: 0 auto;
	padding: 0 auto;
	background: #fff;
}
nav{
	background: #006ca2;
	clear: both;
	vertical-align: center;
	overflow: hidden;
}
/*font-family: 'Roboto', sans-serif;*/
#tab-icon{
	display: inline-block;
	vertical-align: center;
	background: #4ec0f4;
	margin: 6px;
}
.fa-trello{
	font-size: 20px;
	color: #fff;
	padding-left: 6px;

}
#tab-icon, h5{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;	
	color: #fff;
	border-radius: 5%;
	margin: 6px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-right: 4px;
}
#buscador{
	display: inline-block;
	background: #4ec0f4;
	border-radius: 5%;
	/*width: 160px;*/
	padding: 14px 6px 4px 160px;
	text-align: right;
	margin-bottom:80px;
}
.fa-search{
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
}
#trello-img{
	display: inline-block;
	margin-left: 200px;
}
#trello-img img{
	width: 80px;
	height: 20px;
}
#menu{
	display: inline-block;
	vertical-align: center;
}
.bell, .info, .plus{
	display: inline-block;
	width:20px;
	height: 20px;
	background: #4ec0f4;
	padding: 6px;
	border-radius: 50%;	
}
#menu, i{
	color: #fff;
	text-align: center;
}
